:root {
    /* pallet */
    --clr9: #b2a7a7;
    --clr8: #f0f0f0;
    --clr7: #ebeef3;
    --clr6: #19a59f;
    --clr5: #1e7cd3;
    --clr4: #5970c1;
    --clr3: #8f44bb;
    --clr2: #3e4b68;
    --clr1: #3d3d3d;
    --clr0: #22252c;

    /* BP */
    --l: 1060px;
    --m: 860px;
    --s: 600px;
}

body {
    background-color: var(--clr0);
}

/* HELPERS */

/* layout helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-around {
    justify-content: space-around;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* COMPONENTS */

/* header  */

.main-header {
    /* width: 1257px;
    height: 73px; */
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-header .logo {
    color: var(--clr8);
    font-family: Poppins, monospace;
    font-size: 1.375rem;
    font-weight: 500;
    text-transform: uppercase;
}


.main-header .logo:hover {
    color: var(--clr1);
}

.main-header .main-nav {
    height: inherit;
}

.main-header .main-nav ul {
    height: inherit;
}

.main-header .main-nav ul li {
    display: flex;
    align-items: center;
    margin: 0 1em;
    padding: 0 1em;
}

.main-header .main-nav a {
    text-decoration: none;
    color: var(--clr8);
    font-family: Poppins, monospace;
    text-transform: uppercase;
}

.main-header .main-nav a:hover {
    color: var(--clr1);
}

/* color */

.color-palette {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 20vw;
    gap: 5px;
}

.grid-item {
    height: -webkit-fill-available;
    margin: auto;
    object-fit: cover;
}

/* editor */

.editor {
    justify-content: space-around;
    display: flex;
}

.canvas-container {
    width: 40vw;
    /* background-image: url('/img/meme-frame.png');
    background-size: cover;
    background-position: center; */
}

.edit-canvas {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 1rem;
    height: fit-content;
    width: 50vw;
    padding: 1rem;
    border-radius: 30px;
    background-color: rgb(143 143 143 / 20%);
}

input {
    height: 5vh;
    border: none;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 var(--clr8);
    border-radius: 28px;
    background-color: var(--clr7);
}

.txt-prefs {
    gap: 5px
}

.txt-styles {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* prefs */

.btn {
    border-radius: 10px;
    background-color: var(--clr7);
}

.down-btn,
.up-btn {
    background-image: linear-gradient(-38deg, rgb(225, 181, 85) 0%, #da9c4f 50%, #b6701a 100%);
    box-shadow: 3px 4px 0 #b6701a;
}

.down-btn:hover,
.up-btn:hover {
    background-image: linear-gradient(-38deg, rgb(225, 181, 85) 0%, #b8813e 50%, #6f430d 100%);
}

.switch-btn {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 3px 4px 0 #048b97;
}

.switch-btn:hover {
    background-image: linear-gradient(-38deg, #46aac3 0%, #2d8fa8 50%, #085d72 100%);
}

.add-btn {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 50%, #197e28 100%);
    box-shadow: 3px 4px 0 #015d33;
}

.add-btn:hover {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #269837 50%, #0c5b18 100%);
}

.delete-btn {
    box-shadow: 3px 4px 0 #8c0606;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 50%, #f05036 100%);
}

.delete-btn:hover {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #b01129 50%, #76190a 100%);
}

/* txt style */

.txt-styles {
    border-radius: 15px;
    background-color: #19a59f;
    padding: 1em;
    gap: 1em;
}

.styles-line {
    width: -webkit-fill-available;
}

.btn-line-style {
    box-shadow: 1px 5px 0 var(--clr1), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: var(--clr8);
}

.btn-line-style:hover {
    box-shadow: 1px 5px 0 var(--clr1), inset 0 5px 0 rgba(103, 98, 98, 0.58);
    background-color: var(--clr9);
}

.color-palette:hover ~ .btn-line-style {
    box-shadow: 1px 5px 0 var(--clr1), inset 0 5px 0 rgba(103, 98, 98, 0.58);
    background-color: var(--clr9);
}


/* export */

.btn-export {
    border-radius: 15px;
    border: 2px solid black;
}

.btn-share {
    background-image: linear-gradient(-38deg, #71a1cd 0%, #4e91d0 50%, #164f85 100%);
    box-shadow: 3px 4px 0 #165c9c;
}

.btn-share:hover {
    background-image: linear-gradient(-38deg, #71a1cd 0%, #266bad 50%, #0e3e6b 100%);
}

.btn-download {
    background-image: linear-gradient(-38deg, rgb(185, 149, 231) 0%, #895fc1 50%, #7e34b7 100%);
    box-shadow: 3px 4px 0 #906db8;
}

.btn-download:hover {
    background-image: linear-gradient(-38deg, rgb(185, 149, 231) 0%, #7b4bba 50%, #441269 100%);
}

.btn-download a {
    color: black;
    text-decoration: none;
}

/* FOR MOBILE */

@media screen and (max-width: 1000px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: 0 auto 1rem auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 20vw;
        gap: 5px;
    }
}

@media (max-width: 700px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: 0 auto 1rem auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw;
        gap: 5px;
    }
}

@media (max-width: 500px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: 0 auto 1rem auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: flex;
        flex-wrap: wrap;
    }

    .grid-item {
        width: -webkit-fill-available;
        height: auto;
    }
}