:root {
    /* pallet */
    --clr8: #f0f0f0;
    --clr7: #ebeef3;
    --clr6: #19a59f;
    --clr5: #1e7cd3;
    --clr4: #5970c1;
    --clr3: #8f44bb;
    --clr2: #3e4b68;
    --clr1: #3d3d3d;
    --clr0: #22252c;

    /* BP */
    --l: 1060px;
    --m: 860px;
    --s: 600px;
}

body {
    background-color: var(--clr0);
}

/* HELPERS */

/* layout helpers */

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* COMPONENTS */

/* nav */

.main-header {
    /* width: 1257px;
    height: 73px; */
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-nav {}

/* color */

.color-palette {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 20vw;
    gap: 5px;
}

.grid-item {
    height: -webkit-fill-available;
    margin: auto;
    object-fit: cover;
}

/* editor */

.editor {
    justify-content: space-around;
}

.canvas-container {
    width: 40vw;
    /* background-image: url('/img/meme-frame.png');
    background-size: cover;
    background-position: center; */
}

.edit-canvas {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 5px;
    height: fit-content;
    width: 50vw;
    padding: 1rem;
    background-color: lightblue;
}

.txt-prefs {
    gap: 5px
}

.txt-styles {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* FOR MOBILE */

@media screen and (max-width: 1000px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 20vw;
        gap: 5px;
    }
}

@media (max-width: 700px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw;
        gap: 5px;
    }
}

@media (max-width: 500px) {
    .editor {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .canvas-container {
        height: auto;
        margin: auto;
    }

    .edit-canvas {
        width: 90%;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 40vw;
        gap: 5px;
    }
}